<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Vilaliy S.</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap" rel="stylesheet">

</head>
<body style="font-weight: bold; font-size: 200%;">
	<div id="gl", style="font-family: 'Neonderthaw', cursive;" align="center">
		<h1>Hello from Vitalik Suslin!</h1>
		<p><a href="https://github.com/thekingoffamily">My GitHub page.</a></p>
		<p><a href="https://hh.ru/resume/a5e37876ff0994a5500039ed1f466d79386d72">My hh.ru page.</a></p>
		<p>My contacts:</p>
		<ul>
			<ol>Email: <a href="mailto:vitalik@suslin.online">vitalik@suslin.online</a></ol>
			<ol>Telegram: <a href="https://t.me/palapalaru">@palapalaru</ol>
		</ul>

	</div>

</body>
</html>